body {
    background-color: bisque;
}

.App {
    width: 90%;
    background-color: lightblue;
    margin: auto;
    .header {
        font-size: 25px;
    }
    .page-content {
        display: flex;
        justify-content: space-between;
        width: 100%;
        .dest-list {
            width: 400px;
            background-color: lightgreen;
            height: 400px;
            .dest-item {
                cursor: pointer;
                &.selected {
                    background-color:yellowgreen;
                }
                &:hover {
                    background-color: lightcyan;
                }
            }
        }
        .dest-details {
            background-color: lightyellow;
            width: 100%;
        }
    }
}